<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <nav class="panel">
        <p class="panel-heading">Profile</p>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                  <figure class="image is-128x128">
                    <%= image_tag @profile.profile_photo('medium') %>
                  </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>
                              <%= @profile.user.first_name %> 
                              <%= @profile.user.last_name %>
                            </strong><br/>
                        </p>
                    </div>
                    <% if @profile.user == current_user %>
                      <nav class="level move-right">
                        <div class="level-left">
                          <%= link_to edit_profile_path(current_user.profile)  do %>
                            <span class="icon"><i class="fa fa-pencil-alt" aria-hidden="true"></i></span>
                          <% end %>
                        </div>
                      </nav>
                      <% end %>
                </div>
            </article>
        </div>
    </nav>

    <article class="media box">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Date of Birth:</strong>
            <%= @profile.birthday %>
            <br/>
        
            <strong>Gender:</strong>
            <%= @profile.gender %>
            <br/>
        
            <strong>City:</strong>
            <%= @profile.location %>
            <br/>
        
            <strong>About Me:</strong>
            <%= @profile.bio %>
          </p>
        </div>
      </div>
    </article>

    <article class="media box">
      <div class="media content">
        <div class="content">
          <% if @profile.user.friends.count > 0 %>
            <strong><%= @profile.user.first_name %>'s friends:</strong>
            <% @profile.user.friends.each do |friend| %>
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                      <%= link_to(friend.profile) do %>
                        <%= image_tag friend.profile.profile_photo('thumb') %>
                      <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <strong> <%= friend.first_name %></strong>
                  </div>
                  <% if @profile.user == current_user %>
                  <nav class="level move-right">
                    <div class="level-left">
                      <%= link_to friend_remove_path(id: @profile.user.received_requests.find_by(requester_id: friend.id).id, request: { requester_id: friend.id }), data: {confirm: "Are you sure?"}  do%>
                        <span class="icon"><i class="fa fa-trash-alt" aria-hidden="true"></i></span>
                      <% end %>
                    </div>
                  </nav>
                  <% end %>
                <div>
              </article>
              
          <% end %>
        </div>
      </div>
    </article>

      </div>

    <div class="column">
      <% if @profile.user != current_user %>
        <%= render 'profiles/form' %>
      <% end %>

     <% if @profile.user == current_user %>
      <nav class="panel">
        <p class="panel-heading">Received</p>
        <div class="panel-block">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                      <h1 style="color: <%= @profile.expression if @profile.expression%>">Happiness</h1>
                    </div>
                    <nav class="level move-right">
                    <div class="level-left">
                      <%= link_to default_color_path(id: @profile.user.id) do%>
                        <span class="icon"><i class="fa fa-history" aria-hidden="true"></i></span>
                      <% end %>
                    </div>
                  </nav>
                </div>
            </article>
        </div>
    </nav>
    <% end %>


    
    </div>
</section>

<% end %>




