<div class="posts-show">
<div class="post">
<p class="post-header">
  <span>
    <%= link_to(@post.user.profile) do %>
      <%= image_tag @post.user.profile.profile_photo('tac'), class: 'tac-image' %>
    <% end %>

    <%= link_to "#{@post.user.first_name}", @post.user.profile, class: "user-name" %>
  </span>

  <%= link_to distance_of_time_in_words(Time.now, @post.created_at)+ ' ago', @post, class: 'timestamp' %>
  <% if current_user.id == @post.user_id %>
    <span class="edit-delete-post">
      <%= link_to 'Edit Post', edit_post_path(@post) %>
      <%= link_to 'Delete', @post, method: :delete, data: {confirm: "Are you sure?"} %>
    </span>
  <% end %>
</p>


  <p class="post-content">
    <%= @post.content %><br/>
    <% if @post.image.exists? %>
      <%= image_tag @post.image.url(:medium) %>
    <% end %>
  </p>



  <br/>


</div>
</div>
